<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="robots" content="noindex,nofollow">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

    <link href="_assets/css/bootstrap.css" rel="stylesheet">
    <link href="_assets/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132208914-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132208914-1');
    </script>
</head>
<body>
    <div id="wrapper">
      <div id="large_top_page_bg">
          <header id="main_header">
            <nav class="navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="/">
                <img src="_assets/images/logo_header.png" alt="Measure One">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-3">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Use Cases</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Docs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Demo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-link">Login <i class="fas fa-chevron-right"></i></button>
              </div>
            </nav>
          </header>
          <div class="container">
              <section id="banner_section">
                <h1><strong>Unlock</strong> the Power of Academic Data </h1>
                <p class="mb-4">Enable your users to connect their academic data to your app</p>
                <a href="" class="btn btn-outline-light btn-lg btn-outline">Contact Us</a>
                <div class="row">
                  <div class="col-lg-8 offset-lg-4">
                    <div class="survey-card shadow-lg">
                      <h3 class="card-logo">
                        <img src="_assets/images/logo_icon.png" alt="Measure One" />
                      </h3>
                      <h2 class="mb-4">Academic Information</h2>
                      <form action="#">
                        <div class="form-group">
                          <label for="input1">What is the current school you are enrolled in?</label>
                          <input type="text" class="form-control" id="input1" placeholder="">
                        </div>
                        <div class="form-group">
                          <p class="label">What is your current academic level?</p>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Undergraduate</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Graduate</label>
                          </div>
                        </div>
                        <div class="pager">
                          <ul class="pager-dots list-inline">
                            <li class="list-inline-item active"><a href="#">1</a></li>
                            <li class="list-inline-item"><a href="#">2</a></li>
                            <li class="list-inline-item"><a href="#">3</a></li>
                          </ul>
                        </div>
                        <button class="btn btn-primary btn-survey">Continue</button>
                      </form>
                    </div>
                  </div>
                </div>
              </section> 
              <!-- end of banner -->
          </div>
      </div>
      <!-- end of large_top_page_bg -->
  
      <section id="home_cta_section">
        <div class="container">
          <h1 class="text-center">
            MeasureOne: The Leading Academic Data API
          </h1>
          <div class="row">
            <div class="col-lg-4">
              <div class="cta">
                <div class="image text-center">
                  <a href="#"><img src="_assets/images/cta-image-1.png" alt="Products"></a>
                </div>
                <h3 class="title text-center mt-4 mb-5"><a href="#">Products</a></h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="cta">
                <div class="image text-center">
                  <a href="#"><img src="_assets/images/cta-image-2.png" alt="Use Cases"></a>
                </div>
                <h3 class="title text-center mt-4 mb-5"><a href="#">Use Cases</a></h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="cta">
                <div class="image text-center">
                  <a href="#"><img src="_assets/images/cta-image-3.png" alt="About Us"></a>
                </div>
                <h3 class="title text-center mt-4 mb-5"><a href="#">About Us</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end of home cta section -->
  
      <section id="home_video">
        <div class="container">
          <h1 class="text-center">About MeasureOne</h1>
          <div class="video text-center">
            <img src="_assets/images/sample-video.png" alt="" />
          </div>
        </div>
      </section>
  
      <section id="what_we_do">
        <div class="container pb-6">
          <h1 class="text-center">What We Do</h1>
          <div class="row">
            <div class="col-lg-4">
              <div class="wwd_card p-4 mb-4">
                <div class="image text-center mb-4">
                  <img src="_assets/images/placeholder.png" alt="">
                </div>
                <h3 class="text-center">Sourcing Academic Data</h3>
                <p>Fueling the insights, products, and services that unlock the value of emerging consumers</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="wwd_card p-4 mb-4">
                <div class="image text-center mb-4">
                  <img src="_assets/images/placeholder.png" alt="">
                </div>
                <h3 class="text-center">Transforming Academic Data</h3>
                <p>Creating useful, predictive behavioral information to power business decisions</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="wwd_card p-4 mb-4">
                <div class="image text-center mb-4">
                  <img src="_assets/images/placeholder.png" alt="">
                </div>
                <h3 class="text-center">Integrating Academic Data</h3>
                <p>Making academic data accessible to customer applications through developer-friendly APIs</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section id="opportunity_section">
        <div class="container py-6">
          <h1 class="text-center">The Opportunity</h1>
  
          <div class="d-lg-flex opportunity_media">
            <div class="image text-center">
              <img src="_assets/images/image_opportunity.png" alt="Opportunity">
            </div>
            <div class="content align-self-center">
              <h2 class="mb-4">The Emerging Consumer: a $100B Opportunity</h2>
              <p>College students and recent graduates represents nearly one-fourth of the U.S. population – but have generated remarkably little economic-related data in their short consumer lives. What they did create: academic transcripts. Transformed into behavioral insights, academic data has proven enormously valuable to businesses and universities in signaling the future performance of this emerging audience.</p>
            </div>
          </div>
        </div>
      </section>
  
      <section id="home_contact_section" class="mb-5">
        <div class="container py-6">
          <h1 class="text-center mb-4">Ready to get started?</h1>
          <div class="action text-center">
            <a href="#" class="btn btn-lg btn-outline-light rounded-pill">Contact Us</a>
          </div>
        </div>
      </section>
  
  
      <footer id="main_footer" class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-lg-5">
                  <div class="footer-logo">
                    <a href="/"><img src="_assets/images/logo_footer.png" alt="Measure One"></a>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                  <div class="row">
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Use Cases</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Resources</a></li>
                      </ul>
                    </div>
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="#">API Docs</a></li>
                        <li><a href="#">Research and News</a></li>
                        <li><a href="#">Contact Us</a></>
                        <li><a href="#">Careers</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="_assets/js/plugins.js"></script>
    <script type="text/javascript" src="_assets/js/main.js"></script>
  </body>
</html>