<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="robots" content="noindex,nofollow">

    <title>Measure One</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

    <link href="_assets/css/bootstrap.css" rel="stylesheet">
    <link href="_assets/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132208914-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132208914-1');
    </script>
</head>
<body>
    <div id="wrapper">
      <div class="gray-bg">
        <div class="top-swish">
          <header id="main_header">
            <nav class="navbar navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href="/">
                <img src="_assets/images/logo_header_dark.png" alt="Measure One">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-3">
                  <li class="nav-item active">
                    <a class="nav-link" href="products.html">Products <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Use Cases</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Docs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Demo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-link">Login <i class="fas fa-chevron-right"></i></button>
              </div>
            </nav>
          </header>
          <section id="header_well">
            <div class="container">
              <h1 class="text-center">
                  Our Platform makes Academic<br>Data Integration as easy as 1-2-3
              </h1>
              <p>Designed by developers for developers, the MeasureOne API enables application designers to integrate valuable academic data into your products and services.</p>
              <p>Historically, this highly-predictive behavioral data has been difficult to utilize. Inconsistent, hard-to-compare, fragmented sources of information – provided in a range of incompatible formats – made it nearly impossible to integrate. </p>
              <p>MeasureOne created a first-of-its-kind means of accessing and normalizing academic data, whether provided in a digital form, in structured documents (PDF, HTML), or as unstructured data (images). The result is a standardized, searchable, and analyzable data set, providing truly comparable performance metrics for students across academic institutions. </p>
            </div>
          </section>
        </div>
        <section id="product_medias">
          <div class="top_section">
            <div class="container">
              <h3 class="text-center">TranscriptLink</h3>
              <div class="product_media">
                <div class="image">
                  <img src="../_assets/images/img_transcriptlink.png" alt="Transcript Link" />
                </div>
                <div class="content">
                  <h4 class="title">Direct access to school's transcript site</h4>
                  <p>Designed by developers for developers, the MeasureOne API enables application designers to integrate valuable academic "Our effortless integrations make it simple for your applications to access and ingest transcript data. Our TranscriptLink embeds a seamless user experience within your website. The user-friendly shopping cart interface enables your prospective customers to request their data directly and safely from their school's website, or upload their transcripts manually.</p>
                  <p>TranscriptLink: A complete academic transcript of your user provided through the college/university transcript system. Transcripts can be provided as JPG, PDF or scanned images or in digital formats.</p>
                  <p>
                    <a href="#" class="btn btn-outline-primary rounded-pill px-4 btn-lg">Request Demo</a>
                  </p>
                </div>
              </div>
              <h3 class="text-center">Digest</h3>
              <div class="product_media reverse">
                <div class="image">
                  <img src="../_assets/images/img_digest.png" alt="Digest" />
                </div>
                <div class="content">
                  <h4 class="title">The Fast Track to Pre-Approvals</h4>
                  <p>MeasureOne's Digest provides students with a quick and easy interface to submit six key transcript data points. Our API ingests the data, and provides you with a FICO-Scale-based score, using our proprietary algorithm. Digest is the fastest path to predictive academic data, enabling your product or service to confidently make pre-approval decisions.</p>
                  <p>
                    <a href="#" class="btn btn-outline-primary rounded-pill px-4 btn-lg">Request Demo</a>
                  </p>
                </div>
              </div>
              <h3 class="text-center">Extraction and Standardization</h3>
              <div class="product_media">
                <div class="image">
                  <img src="../_assets/images/img_extraction.png" alt="" />
                </div>
                <div class="content">
                  <h4 class="title">Transforming Academic Data into Business Intelligence</h4>
                  <p>MeasureOne extracts full transcripts in any format, and transforms the data through a proprietary process that normalizes grades, credits, courses, and term specifics across institutions. This seamless standardization process means you obtain complete academic records in a common format, making it easy to ingest, compare and evaluate all transcript submissions. </p>
                  <p>
                    <a href="#" class="btn btn-outline-primary rounded-pill px-4 btn-lg">Request Demo</a>
                  </p>
                </div >
              </div>
            </div>
          </div>
          <div class="bottom_section">
            <div class="container">
              <div class="fancy-border-left">
                <h3 class="text-center">Enhanced Metrics</h3>
                <div class="product_media reverse">
                  <div class="image">
                    <img src="../_assets/images/img_enhanced.png" alt="">
                  </div>
                  <div class="content">
                    <h4 class="title">Providing standardized, usable metrics</h4>
                    <p>Transcripts are key to evaluating the future performance of emerging consumers with limited financial data, but the vastly different formats, structures, and flows can make it a challenge to ingest and use. After a transcript has been standardized, MeasureOne will provide metrics that can be gleaned from the enhanced format.</p>
                    <p>
                      <a href="#" class="btn btn-outline-primary rounded-pill px-4 btn-lg">Request Demo</a>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                    <div class="product_media">
                      <div class="content">
                        <h4 class="title blue">MeritScore: The world's first predictive link between individualized academic data and credit performance</h4>
                        <p>MeritScore is a proprietary data model, Fair Credit Reporting Act (FCRA) compliant, that establishes the predictive links between individualized academic data and credit performance.</p>
                        <p>MeritScore enables better decision-making when evaluating the future performance of individuals with limited financial history. MeritScore is used like a FICO score, providing a common language for comparison and evaluation.</p>
                        <p>
                          <a href="#" class="btn btn-primary rounded-pill px-4 btn-lg">Request Demo</a>
                        </p>
                      </div>
                    </div>
                    <div class="product_media">
                      <div class="content">
                        <h4 class="title blue">MeritScore: The world's first predictive link between individualized academic data and credit performance</h4>
                        <p>MeritScore is a proprietary data model, Fair Credit Reporting Act (FCRA) compliant, that establishes the predictive links between individualized academic data and credit performance.</p>
                        <p>MeritScore enables better decision-making when evaluating the future performance of individuals with limited financial history. MeritScore is used like a FICO score, providing a common language for comparison and evaluation.</p>
                        <p>
                          <a href="#" class="btn btn-primary rounded-pill px-4 btn-lg">Request Demo</a>
                        </p>
                      </div>
                    </div>
                    <h3 class="text-center">Custom Analytics</h3>
                    <div class="product_media">
                      <div class="image">
                        <img src="../_assets/images/img_customanalytics.png" alt="Analytics">
                      </div>
                      <div class="content">
                        <h4 class="title">Transforming academic data into business-building insights</h4>
                        <p>The wide-ranging potential of academic information sometimes requires advice in deciding what data to ingest into an application or decision-making process. That's why we offer Custom Analytics. an advanced analytics solutions, to help our customers gain the most value from academic data for their specific need. Contact us and we'll be happy to discuss your objectives, and how transcript data can be used to impact your results.</p>
                        <p>
                          <a href="#" class="btn btn-outline-primary rounded-pill px-4 btn-lg">Request Demo</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        
      </div> <!--  end of gray-bg -->
      <footer id="main_footer" class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-lg-5">
                  <div class="footer-logo">
                    <a href="/"><img src="_assets/images/logo_footer.png" alt="Measure One"></a>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                  <div class="row">
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="products.html">Products</a></li>
                        <li><a href="#">Use Cases</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Resources</a></li>
                      </ul>
                    </div>
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="#">API Docs</a></li>
                        <li><a href="#">Research and News</a></li>
                        <li><a href="#">Contact Us</a></>
                        <li><a href="#">Careers</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
    </div>
    <script type="text/javascript" src="_assets/js/plugins.js"></script>
    <script type="text/javascript" src="_assets/js/main.js"></script>
  </body>
</html>