<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="robots" content="noindex,nofollow">

    <title>Measure One</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

    <link href="_assets/css/bootstrap.css" rel="stylesheet">
    <link href="_assets/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132208914-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132208914-1');
    </script>
</head>
<body>
    <div id="wrapper">
      <div class="gray-bg">
        <header id="main_header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
              <img src="_assets/images/logo_header_dark.png" alt="Measure One">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item active">
                  <a class="nav-link" href="products.html">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Use Cases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Docs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Demo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us</a>
                </li>
              </ul>
              <button type="button" class="btn btn-link">Login <i class="fas fa-chevron-right"></i></button>
            </div>
          </nav>
        </header>
        
        <section id="use_case_banner">
          <div class="container bg">
            <div class="content">
              <img src="../_assets/images/use_case_unlock.png" alt="" />
              <h1 class="ml-4">Unlocking the <strong>Future Value</strong> of Emerging Consumers</h1>
            </div>
          </div>
        </section>

        <section id="use_case_list_section">
          <div class="container">
            <ul class="use_case_list">
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Lenders/Financial Institutions</h3>
                    <p>Make more-informed lending decisions, attract new audiences, develop new products.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Academic Institutions</h3>
                    <p>Improve graduation rates,  inform admission decisions, improve financial aid operations.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Residential Real Estate</h3>
                    <p>Gain greater confidence in tenant qualification, develop reliable criteria for application evaluation.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Marketing</h3>
                    <p>Start building long-term consumer value early, improve targeting, conversion, loyalty rates.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Insurance</h3>
                    <p>Increase effectiveness of underwriting decisions, expand policy opportunities, develop new products.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="category">
                  <div class="image">

                  </div>
                  <div class="content text-center">
                    <h3>Employment</h3>
                    <p>Enhance recruiting and employment processes, from screening to selection to validation.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section id="case_studies_list">
          <div class="container">
            <h1 class="text-center">Case Studies</h1>
            <ul class="case_study_list">
              <li class="case_study">
                <div class="box">
                  <div class="image">
                    <img src="../_assets/images/logo_invested.png" alt="" />
                  </div>
                  <div class="content">
                    <p>INvestED was searching for means to increase its loan portfolio. Their traditional, restrictive lending practices, focused on lending to students with credit worthy co-signers, limited their opportunities for growth.</p>
                    <p>Their objective: expand lending to a broader universe of students – without increasing portfolio risk.</p>
                  </div>
                </div>
              </li>
              <li class="case_study">
                <div class="box">
                  <div class="image">
                    <img src="../_assets/images/logo_meritized.png" alt="" />
                  </div>
                  <div class="content">
                    <p>Meritize lends to students pursuing skills-based training, expanding funding options by using prior academic achievements in their credit evaluation.</p>
                    <p>The company was struggling to quickly assess an applicant’s academic history, and predict the likelihood of loan repayment. They needed a solution that looked beyond traditional credit scores.</p>
                  </div>
                </div>
              </li>
              <li class="case_study">
                  <div class="box">
                    <div class="image">
                      <img src="../_assets/images/logo_invested.png" alt="" />
                    </div>
                    <div class="content">
                      <p>INvestED was searching for means to increase its loan portfolio. Their traditional, restrictive lending practices, focused on lending to students with credit worthy co-signers, limited their opportunities for growth.</p>
                      <p>Their objective: expand lending to a broader universe of students – without increasing portfolio risk.</p>
                    </div>
                  </div>
                </li>
                <li class="case_study">
                  <div class="box">
                    <div class="image">
                      <img src="../_assets/images/logo_meritized.png" alt="" />
                    </div>
                    <div class="content">
                      <p>Meritize lends to students pursuing skills-based training, expanding funding options by using prior academic achievements in their credit evaluation.</p>
                      <p>The company was struggling to quickly assess an applicant’s academic history, and predict the likelihood of loan repayment. They needed a solution that looked beyond traditional credit scores.</p>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </section>
        
        
      </div>
      <footer id="main_footer" class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-lg-5">
                  <div class="footer-logo">
                    <a href="/"><img src="_assets/images/logo_footer.png" alt="Measure One"></a>
                  </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                  <div class="row">
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="products.html">Products</a></li>
                        <li><a href="#">Use Cases</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Resources</a></li>
                      </ul>
                    </div>
                    <div class="col-lg col-sm-3">
                      <ul class="footer_links list-unstyled">
                        <li><a href="#">API Docs</a></li>
                        <li><a href="#">Research and News</a></li>
                        <li><a href="#">Contact Us</a></>
                        <li><a href="#">Careers</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
    </div>
    <script type="text/javascript" src="_assets/js/plugins.js"></script>
    <script type="text/javascript" src="_assets/js/main.js"></script>
  </body>
</html>